.main-link{
    max-width: 150px;
}

#page-div{
    max-width:500px;

    display:grid;

    grid-template-columns: 50% 50%;
    grid-template-areas:
      "nav nav"
      "character links";
}

#character-div{
    grid-area:character;
    border: solid black;

    text-align:center;
}

#links-div{
    grid-area:links;
    border: solid black;

    text-align:center;
}

#player-name{
    font-size:32;
    font-weight:bold;
}