*{
    font-size:32px;
}

.cost{
    max-width:100px;
}

#cost-table, #cost-table th, #cost-table td{
    border: 1px black solid;
}

.item{
    max-width: 150px;
}

#game-div{
    grid-area:links;
    border: solid black;

    text-align:center;
}

/*Center stats text*/
#stats-div{
    text-align: center;
}

#cost-table-div{
    display: flex;
    align-items: center;
}

.game-text {
    display:inline;
}

#select-training, #start-training{
    height:5vh;
}