*{
    font-size:32px;
}

p{
    font-size:26px;
}

.item{
    max-width: 150px;
}

#dryad-div{
    grid-area: dryad;
    
}

#dryad-image{
    max-height:50vh;
    max-width: 60vw;
}

.game-text {
    display:inline;
}

#heal-button{
    height: 5vh;
}