*{
    font-size:32px;
}

.item{
    max-width: 150px;
}

#trainer-div{
    grid-area: trainer;
}

.game-text {
    display:inline;
}

#spaceship-image{
    max-height:50vh;
    max-width: 60vw;
}

#sleep{
    height:5vh;
}