*{
    font-size:32px;
}

#page-div {
    max-width:90vw;
}

#game-div{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;

    width: 500px;
}

#player-div, #enemy-div{
    display: flex;
    
    align-items: flex-end;

    padding: 20px;
}

.game-text {
    display:inline;
}

#control-div{
    display:grid;
    grid-template-columns:30vw 30vw;
    grid-gap:0;
    padding:0;
}

#battle-text-div{
    width: 500px;
    padding: 20px;
}

#enemies, #startBattle, #attack-button, #ability{
    height: 5vh;
    width: 30vw;
    font-size:32px;
}

#enemy-image{
    max-height:300px;
}

#character-image{
    max-height:10vh;
}