*{
    font-size:32px;
}

.currency{
    font-size:12px;
    max-width: 70px;
}

#currency-table{
    table-layout:fixed;

    width: auto;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px;
}

.currency-number{
    color:white;
}

#page-div {
    max-width:90vw;
}

#game-div{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;

    width: 500px;
}

#player-div, #enemy-div{
    display: flex;
    
    align-items: flex-end;

    padding: 20px;
}

.game-text {
    display:inline;
}

#control-div{
    display:grid;
    grid-template-columns:30vw 30vw;
    grid-template-rows: 5vh 5vh;;
    grid-gap:20px;
    padding:0;
    grid-template-areas:
        "attackSelect attackButton"
        "restartButton restartButton"
}

#battle-text-div{
    width: 500px;
    padding: 20px;
}

#attack-button {
    height: 5vh;
    width: 30vw;
    grid-area:"attackButton"
}

#ability {
    height: 5vh;
    width: 30vw;
    grid-area:"attackSelect"
}

#restart-button{
    height: 5vh;
    width: 60vw; 
    grid-area:"restartButton"
}

#enemy-image{
    max-height:300px;
}

#character-image{
    max-height:10vh;
}