#console-div{
    background-color: black;
    height: 300px;

    color: rgb(0, 255, 0);
    font: Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    text-align:left;
    padding:5px;
    margin:5px;
}