#page-div {
    max-width:90vw;
    border: solid black;
}

#game-div{
    display:grid;
    grid-template-columns: 75px auto;
    grid-template-areas:
      "blank trainer"
      "character trainer";
}

#player-div{
    grid-area: character;
}

#trainer-div{
    grid-area: trainer;
}

.game-text {
    display:inline;
}

#character-image{
    max-height:15vh;
}

#trainer-image{
    max-height:50vh;
    max-width: 60vw;
}

#select-training, #start-training{
    max-height:5vh;
}