*{
    font-size:1em;
}

#page-div {
    max-width:90vw;

    display:grid;

    grid-template-areas:
      "nav nav"
      "character game";

      grid-template-columns: 30vw 60vw;
}

#character-div{
    grid-area:character;
    border: solid black;

    text-align:center;
}

#game-div{
    grid-area: game;

    border: solid black;

    text-align:center;
}

#cost-table, #cost-table th, #cost-table td{
    border: 1px black solid;
}

#character-image{
    max-width:25vw;
}

#page-image{
    max-width:55vw;
}

#enemy-image{
    max-width:25vw;
}

.item{
    max-width: 10vw;
}

.cost{
    max-width:10vw;
}

.pay-button{
    max-width:20vw;
}

.button{
    padding:10px 10px 10px 10px
}

/*Dropdown for selecting an enemy*/
#enemies{
    padding:10px 10px 10px 10px
}

.image-link{
    max-width:75px;
}