*{
    font-size:32px;
}

.currency{
    font-size:12px;
    max-width: 70px;
}

#currency-table{
    table-layout:fixed;

    width: auto;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px;
}

.currency-number{
    color:white;
}

.item{
    max-width: 150px;
}

#page-div{
    max-width:90vw;

    display:grid;

    grid-template-areas:
      "nav nav"
      "character links";
}

#character-div{
    grid-area:character;
    border: solid black;

    text-align:center;
}

#game-div{
    grid-area:links;
    border: solid black;

    text-align:center;
}

#dryad-div{
    grid-area: dryad;
    
}

#dryad-image{
    max-height:50vh;
    max-width: 60vw;
}

.game-text {
    display:inline;
}

#character-image{
    max-height:10vh;
}

#heal-button{
    height: 5vh;
}