*{
    font-size:32px;
}

.item{
    max-width: 150px;
}

#page-div {
    max-width:90vw;
    border: solid black;
}

#game-div{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "blank dryad"
      "character dryad";
}

#player-div{
    grid-area: character;
}

#dryad-div{
    grid-area: dryad;
    
}

#dryad-image{
    max-height:50vh;
    max-width: 60vw;
}

.game-text {
    display:inline;
}

#character-image{
    max-height:10vh;
}

#heal-button{
    height: 5vh;
}